  <%= form_for [@conversation, @message] do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Send Message", class: "btn btn-primary" %>
<% end %>