<!DOCTYPE html>
<html>
  <head>
    <title>CHATBOTTY</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>    
    <%= yield %>
  </body>
  <footer>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", root_path %></li>
        <% end %>
      </ul>
    </nav>
  </footer>
</html>
